/*creates a boarder-box around the whole page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Body,anchor and paragraph elements*/

body {
    background-color: #d9dcd6;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
#backtotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  #backtotop:hover {
    background-color: #555;
  }

/*header, header h1,header h1 span, header div, header div unordered list, hearder div unorderd list item  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;  
} 
.header div ul li {
    display: inline-block;
    margin-left: 25px;
} 
/* hero is the pages main image that covers the screen when loaded*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/digital-marketing-meeting.jpg" );
    background-size: cover;
    background-position: center;
}
/* content displays the services provided */
/*content"div class", content-block"div class",content-block h2, content-left-img"floats image left of text",content-right-img"floats image right of text"*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-block{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-block h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* needed to make 2 classes to style page properly*/
.content-left-img{
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.content-right-img{
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

/*benifits displays the reasons you would want the service its content is floated right*/
/*benifits"div class",benifits-block"div class",benifits-block h3,benifits-img,*/
.benefits {
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-block{
    margin-bottom: 32px;
    color: #ffffff;

}

.benefit-block h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*footer displays copyright and flavor message*/
/*footer"div class,footer h2*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
